.box{
	width: 1150px;
	height: 850px;
	background-color: white;
	border-radius: 20px;
	padding: 10px;
}
nav li{
	display: inline;
	margin-right: 35px;
	font-size: 25px;
}
body{
	background-color: #66A6FF;
}
.judul{
	font-family: Cera Pro;
	color: white;
}
img{
	width: 900px;
	height: 500px;
	border-radius: 20px;
}
h1{
	font-family: Segoe UI Light;
}
p{
	font-size: 22px;
	font-family: Product Sans Black;
}
.akhir{
	font-size: 22px;
}